html {
  background-color: #1d2021;
  color: #e2d3ba;
}

body {
  margin: 0px;
}

#container {
  padding: 0px;
  margin: 0px;
}

#banner {
  height: 7%;
  margin: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-inline-start: 0px;
  text-align: center;
  position: sticky;
  top: 0px;
}

#content {
  padding: 0px;
  margin: 0px;
  padding-bottom:100%;
  position: sticky;
}

#web-name {
   text-decoration: none;
   color: #e2d3ba;
   text-shadow: 3px 3px 1px black;
   font-size: 32px;
 }
